.App {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.app{
    padding: 30px;
    width: 100%;
    height: 100vh;
}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: var(--background-overlay);
}

.container {
    max-width: 800px;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;

}

/* Top */
.section {
    width: 100%;
    padding: 1rem;
    border-radius: 0.4rem;
    color: #ffffff;
}

.section__inputs,
.section__temperature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--section-overlay);
}

.section__inputs>input {
    border: 0.8px solid #ffffff;
    border-radius: 0.4rem;
    background-color: transparent;
    color: #ffffff;
    padding: 0.5rem;
    font-size: 20px;
    font-weight: 200;
}

.section__inputs>input:focus {
    outline: none;
}

.section__inputs>button, .headingPart> button {
    padding: 10px 50px;
    border: none;
    border-radius: 0.4rem;
    font-size: 20px;
    font-weight: 500;
    background-color: #ffffff;
}

.navigation{
    width: 100%;
    display: flex;
    flex-direction: row;
 justify-content: space-around;
}

.navigation button{
    padding: 10px 50px;
    border: none;
    border-radius: 0.4rem;
    font-size: 20px;
    font-weight: 500;
    background-color: #ffffff;
}

.headingPart h1{
font-size: 2rem;
}

.section__inputs>button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date-time{
   display: flex;
   width: 100%;
   justify-content: space-between;
}

.icon>h3 {
    font-size: 15px;
    font-weight: 200;
    text-transform: capitalize;
}
.temperature{
    display: flex;
    flex-direction: column;
  row-gap: 70px;
}

.temperature>h1 {
    font-size: 60px;
}

.section__descriptions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.forecastData{
    margin-top: 15rem;
    padding: 30px;
    flex-wrap: nowrap;
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2.5rem;
    color: #ffffff;
}

.forecastA{
  width: 100%;
}

.forecastA p{
    color: #ffffff;
    font-size: medium;
    text-transform: capitalize;
}

.horizontalLine{
    margin-top: 20px;
    margin-bottom: 20px;
}

.weatherData{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

.table-col{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
}

.date-time p{
    color: #ffffff;
}

.headingLeft{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
}

.forecastData::-webkit-scrollbar{
    display: none;
}
.forcast{
    color: #ffffff;
    max-width: 800px;
    margin: auto;
    height: 100%;
}

.forcastIcon{
    width: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--section-overlay);
    padding: 1rem;
    border-radius: 0.4rem;
}

.description__card-icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 12px;
}

.description__card-icon>small {
    text-transform: capitalize;
}

.headingPart{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .section__inputs input {
       width: 8rem;
    
    }

    .section__inputs button {
        width: 4rem;
    
     }

    .headingPart h1{
        font-size: 1rem;
        }

        .headingPart{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 30px;
        }
   
  }